@model IEnumerable<MvcDemo.Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List Of Categories</title>
</head>
<body>
    <p>
        @Html.ActionLink("Add Category", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                 @item.Description
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Code },
                     new { onclick = "return confirm('Do you really want to do delete category?')"}
                 )
            </td>
        </tr>
    }
    
    </table>

    <h4>@TempData["message"]</h4>
</body>
</html>
